---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body
		class="bg-white text-black dark:bg-black dark:text-white font-signika flex min-h-screen w-full flex-col px-5 pt-12 text-base font-normal antialiased md:px-20 animate-fade-in transition duration-500 opacity-100"
	>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main">
			<slot />
		</main>
		<Footer />
		<script is:inline type="speculationrules">
			{
				"prefetch": [
					{
						"where": {
							"href_matches": "/*"
						},
						"eagerness": "immediate"
					}
				],
				"prerender": [
					{
						"where": {
							"href_matches": "/*"
						},
						"eagerness": "moderate"
					}
				]
			}
		</script>
	</body>
</html>
